.clima {
    background-color: #3b974e;
    padding: 50px;
    color: rgb(0, 0, 0);
    margin-left: 7px;
    margin-top: 5px;
    width: 45% ;
    border-radius: 40px;

}
.clima p {
    font-size: 18px;
}
.clima .city {
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: 700;
}

#temperatura {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 10px;
}
.weatherIcon {
    width: 150px;
    object-fit: cover;
}
.seccionSuperior {
    display: flex;
    align-items: center;
}
.graficaUno {
    width: 500px;
    height: 250px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#miGrafico {
    display: flex;
    align-self: bottom;
}